// "out": "../css/style.css", "compress": true
@import "./node_modules/reset-css/less/reset";
@import "flex-grid.less";
@color_light_blue: #E9F2FF;
@color_header: #343A40;
@color_text: #333333;
@color_ozon: #0069FF;
@color_violet: #696FFB;
@color_dark_blue: #194998;
@color_murena: #4CCEAC;
@color_input: #969696;
@color_white: #FFFFFF;
@color_black_blue: #004EBD;

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.color_dark_blue {
  color: @color_dark_blue;
}

.color_ozon {
  color: @color_ozon;
}

.color_violet {
  color: @color_violet;
}

p {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: @color_text;
}

.h1() {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: @color_header;
  line-height: 59px;
}

.h2() {
  text-transform: uppercase;
  color: @color_header;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.logo {
  &__img {
    width: 142%;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__item {
    margin-left: 68px;
  }

  &__link {
    color: @color_header;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
  }
}

.button {
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;

  &_blue {
    border: 1px solid @color_black_blue;
    color: @color_black_blue;
  }

  &_green {
    background-color: @color_murena;
    color: @color_white;
  }
}

.header {
  padding: 25px 0 12px;
  // background-color: black;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid @color_light_blue;
  justify-content: space-between;
  align-items: center;

  &__logo {
    // margin-right: auto;
  }
  // &::after {
  //   content: "INTEGRATIONS";
  //   display: block;
  // }
}

.checkbox-block {
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__label::before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 4px;
    background-color: @color_dark_blue;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    margin-right: 14px;
  }

  .checkbox-block__checkbox:checked + .checkbox-block__label::before {
    background-image: url("../img/checked.png");
  }

  &__label {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    user-select: none;
    display: inline-flex;
    align-items: flex-start;
  }
}

.feedback {
  display: flex;
  flex-wrap: wrap;

  &__input {
    // width: 230px;
    // height: 70px;
    padding: 24px;
    flex-basis: 230px;
    max-width: 230px;
    flex-grow: 0;
    color: @color_input;
    border: 1px solid @color_murena;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-right: 20px;
    box-sizing: border-box;
  }

  &__input::placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  &__button {
    padding: 25px 0;
    flex-basis: 230px;
    max-width: 230px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
  }

  &__checkbox-block {
    padding-top: 36px;
  }
  @media screen and (max-width: 1440px) {
    &__button {
      margin-top: 36px;
      flex-basis: 345px;
      min-width: 345px;
      order: 3;
    }

    &__input {
      width: calc(50%-40px);
      flex-basis: auto;
      max-width: inherit;
      flex-basis: 345px;
    }

    &__checkbox-block {
      flex-basis: 345px;
      margin-right: 20px;
    }
  }
}

.links {
  display: flex;

  &__price {
    max-width: 173px;
    flex-basis: 173px;
    padding: 17px 0;
    margin-right: 36px;
  }

  &__instruction {
    padding: 17px 0;
    max-width: 255px;
    flex-basis: 255px;
    padding: 17px 0;
    margin-right: 36px;
  }

  &__telegram {
    font-size: 48px;
    color: #419FD9;
    cursor: pointer;
  }
}

.block {
  background: #FFFFFF;
  box-shadow: 0 10px 30px rgba(60, 66, 196, 0.1);
  border-radius: 5px;
  border-left: 5px solid @color_murena;
  box-sizing: border-box;
  cursor: pointer;
}

.bgi {
  position: absolute;
  z-index: -1;
}

.main-page {
  display: flex;
  flex-wrap: wrap;

  &__right-wrap {
    max-width: 730px;
    margin-right: 149px;
  }

  &__under-header-block {
    padding-top: 10px;
    color: @color_header;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__text {
    padding-top: 107px;
  }

  &__like-h2 {
    .h2();
    margin-top: 70px;
  }

  &__links {
    border-top: 2px solid @color_light_blue;
    margin-top: 102px;
    padding-top: 70px;
    font-weight: 600;
    font-size: 14px;
  }

  &__left-wrap {
    // background-image: url("../img/bgi-1.png");
    // background-repeat: no-repeat;
    flex: 1;
    position: relative;
  }

  &__block {
    font-weight: 600;
    font-size: 15px;
    padding: 40px 0;
    // flex-basis: 308px;
    width: 308px;
    padding: 41px 0 43px 21px;
    position: absolute;
  }

  &__feedback {
    padding-top: 108px;
  }

  &__bgi {
    bottom: 15px;
    right: -180px;
  }
  @media screen and (max-width: 1440px) {
    &__bgi {
      right: -480px;
    }
  }
}

.list {
  list-style-image: url("../img/list.png");
  padding-top: 40px;

  &__item {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    line-height: 20px;
  }
}

.orders {
  position: relative;

  &__left-wrap {
    padding-top: 297px;
  }

  &__like-h1 {
    max-width: 533px;
    .h1();
  }

  &__text {
    max-width: 765px;
    border-bottom: 2px solid @color_murena;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  &__list-header {
    padding-top: 57px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    font-weight: bold;
  }

  &__list {
    margin-left: 74px;
  }

  &__bgi {
    position: absolute;
    right: -180px;
    bottom: -90px;
  }
  @media screen and (max-width: 1440px) {
    &__like-h1 {
      max-width: 555px;
    }

    &__text {
      max-width: 511px;
    }

    &__list {
      margin-left: 40px;
    }

    &__left-wrap {
      max-width: 555px;
    }

    &__bgi {
      right: -480px;
    }
  }
}

.stocks {
  display: flex;

  &__right-wrap {
    width: 919px;
  }

  &__left-wrap {
    padding-top: 583px;
  }

  &__like-h1 {
    max-width: 533px;
    .h1();
  }

  &__text {
    max-width: 640px;
    // border-bottom: 2px solid @color_murena;
    padding-top: 22px;
    padding-bottom: 46px;
  }

  &__bgi {
    bottom: -119px;
    left: -150px;
  }
  @media screen and (max-width: 1440px) {
    &__bgi {
      left: -550px;
    }
  }
}
