/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1560px;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1110px;
  }
}
.color_dark_blue {
  color: #194998;
}
.color_ozon {
  color: #0069FF;
}
.color_violet {
  color: #696FFB;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.logo__img {
  width: 142%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu__item {
  margin-left: 68px;
}
.menu__link {
  color: #343A40;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.header {
  padding: 25px 0 13px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #E9F2FF;
  justify-content: space-between;
  align-items: center;
}
.checkbox-block__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-block__label::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 4px;
  background-color: #194998;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin-right: 14px;
}
.checkbox-block .checkbox-block__checkbox:checked + .checkbox-block__label::before {
  background-image: url("../img/checked.png");
}
.checkbox-block__label {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  user-select: none;
  display: inline-flex;
  align-items: flex-start;
}
.feedback {
  display: flex;
  flex-wrap: wrap;
}
.feedback__input {
  padding: 24px 18px;
  color: #969696;
  border: 1px solid #4CCEAC;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-right: 20px;
}
.feedback__input::placeholder {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
}
.feedback__button {
  padding: 25px 59px;
  background-color: #4CCEAC;
  color: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.main-page__under-header-block {
  padding-top: 10px;
  color: #343A40;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.main-page__text {
  padding-top: 107px;
}
.main-page__like-h1 {
  text-transform: uppercase;
  color: #343A40;
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  margin-top: 70px;
}
.main-page__feedback {
  padding-top: 108px;
}
.main-page__checkbox-block {
  padding-top: 35px;
}
